$grey:#D3D3D3;

/*p.note{


}*/
/*.note{
	color:green;
}*/
/*p.inline-block{
	color:green;
 display: inline-block
}*/
/*p{!
	width:300px;
	padding:40px;
	border: 2px;
	margin: 0 auto;
}*/
/*div.inline-block{
	-moz-box-shadow: 0 0 10px deeppink;
	-webkit-box-shadow: 0 0 0 10px deeppink;
	box-shadow: 0 0 10px deeppink;
}*/
.container {
	width: 960px;
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;
}

.bodywrapper{
	background-color: $grey;

}
header {
	margin-top: 50px;

}
#imageheader{
	padding-left: 10px;
	padding-top: 2px;
}
.html{
	word-spacing: 40px;
	padding-top: 40px;

}
body{
	background: white;
	color:black;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	font-style: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-sarif;

}
h1{
	color: #45a2da; 

}
header li{
	display: inline-block;
}	

nav li{
	display: inline-block;

}
#home{
	color:black;
	font-size: 20px;
}
#course{
	color: black;
	font-size: 20px;
}
#students{
    color:black;
    font-size: 20px;
}
#apply{
	word-spacing: 10px;
	padding: 20px;
}
header nav li.hover{
	box-shadow: inset 0 3px 0 0 #45a2da;
    color: #45a2da;
}
#imagecurriculm{
	height: 300px;
	padding-left: 100px;
}
#imagestudents{
	padding-left: 400px;
	height: 400px;


} 
footer nav li a {
	background-color: black;
	color: white;
	display: inline-block;
}
.footer-wrapper{
    background-color: black;
	border-top: 1px solid rgba(0,0,0,0.085);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8) 
}
#footerimage{
	padding-top: 60px;
}

.textwhite{
	color: white;
}
.col-1-4{
	padding-left: 300px;
}
.col-1-4{
    
}
a{
	text-decoration: none;
}
h3{
	color: white;
	padding-left: 40px;
}
h4{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
footer nav{
	text-align: left;
	display: inline-block;
}
/*footer{
	background-image: url(alert.png);
}*/
article p{
	color: #848484;
}
aside{
	color:#848484;
}
.alt-link a{
   background-color: black;
   color: white;
}
